<div class="footer position-relative bg-grad-2-bottom-inverse pb-1">
    <div class="container">
        <footer class="footer-wrapper row py-2 text-white">
            <div class="col-lg-6 col-12">
                <f:render partial="Footer/Navigation" arguments="{_all}" />
            </div>
            <div class="col-lg-6 col-12">
                <f:render partial="Footer/Contact" arguments="{_all}" />
                <f:render partial="Footer/Social" arguments="{_all}" />
                <div class="footer-copyright">
                    <h9 class="h9 mb-0 text-white">© <span id="footerCopyrightYear"></span> <f:cObject typoscriptObjectPath="lib.companyName" /></h9>
                </div>
            </div>
        </footer>
    </div>
</div>