<f:if condition="{languageNavigation}">
    <f:for each="{languageNavigation}" as="item">
        <f:if condition="{item.available}">
            <f:then>
                <a href="{item.link}" hreflang="{item.hreflang}"
                   title="{item.navigationTitle}" class="dropdown-item">
                    <span>{item.navigationTitle}</span>
                </a>
            </f:then>
            <f:else>
                <a href="{item.link}" hreflang="{item.hreflang}"
                   title="{item.navigationTitle}" class="dropdown-item" disabled="">
                    <span>{item.navigationTitle}</span>
                </a>
            </f:else>
        </f:if>
    </f:for>
</f:if>