{namespace twoh=TWOH\TwohKickstarter\ViewHelpers}

<div class="menu-overlay position-absolute opacity-90 bg-grad-7-top-to-bottom w-100 h-25 top-0"></div>

<f:render section="desktop-menu" arguments="{_all}" />

<f:render section="mobile-menu" arguments="{_all}" />

<f:section name="mobile-menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-xxl-none d-xl-none d-lg-none d-md-block d-sm-block d-xs-block navbar-device is-mobile">
        <div class="container gap-half justify-content-start">
            <f:link.page pageUid="<f:cObject typoscriptObjectPath='lib.websiteRootPageId'/>"
                         title="<f:cObject typoscriptObjectPath='lib.websiteTitle'/>" tabindex="1"
                         class="navbar-brand p-0">
                <f:image src="<f:cObject typoscriptObjectPath='lib.websiteLogo'/>"></f:image>
            </f:link.page>
            <button class="navbar-toggler text-white submenu"
                    type="button"
                    data-click="#search-field"
                    title="Search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContentMobile"
                    aria-controls="navbarSupportedContentMobile" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContentMobile">
                <ul class="navbar-nav">
                    <f:for each="{headerMenu}" as="menuItem" iteration="iterator">
                        <f:if condition="{menuItem.children}">
                            <f:then>
                                <li class="nav-item dropdown">
                                    <f:render section="link-mobile"
                                              arguments="{menuItem: menuItem}"/>

                                    <ul class="ml-2 dropdown-menu bg-transparent" aria-labelledby="navbarDropdown{menuItem.data.uid}">
                                        <f:for each="{menuItem.children}" as="childMenuItem" iteration="iterator">
                                            <f:if condition="{childMenuItem.children}">
                                                <f:then>
                                                    <li>
                                                        <f:render section="link-mobile-child-sub"
                                                                  arguments="{menuItem: childMenuItem}"/>

                                                        <ul class="ml-2 dropdown-menu bg-transparent" aria-labelledby="navbarDropdown{childMenuItem.data.uid}">
                                                            <f:for each="{childMenuItem.children}" as="subChildMenuItem" iteration="iterator">
                                                                <f:render section="link-mobile-child-sub"
                                                                          arguments="{menuItem: subChildMenuItem}"/>
                                                            </f:for>
                                                        </ul>
                                                    </li>
                                                </f:then>
                                                <f:else>
                                                    <li>
                                                        <f:render section="link-mobile-child-sub"
                                                                  arguments="{menuItem: childMenuItem}"/>
                                                    </li>
                                                </f:else>
                                            </f:if>
                                        </f:for>
                                    </ul>
                                </li>
                            </f:then>
                            <f:else>
                                <li class="nav-item">
                                    <f:render section="link"
                                              arguments="{menuItem: menuItem}"/>
                                </li>
                            </f:else>
                        </f:if>
                    </f:for>
                </ul>
            </div>
        </div>
    </nav>

    <f:render section="search" arguments="{_all}" />
</f:section>

<f:section name="desktop-menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light position-relative p-0 d-xxl-block d-xl-block d-lg-block d-md-none d-sm-none d-xs-none navbar-device is-desktop">
        <div class="container">
            <f:link.page pageUid="<f:cObject typoscriptObjectPath='lib.websiteRootPageId'/>"
                         title="<f:cObject typoscriptObjectPath='lib.websiteTitle'/>" tabindex="1"
                         class="navbar-brand p-0">
                <f:image src="<f:cObject typoscriptObjectPath='lib.websiteLogo'/>"></f:image>
            </f:link.page>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-row justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <f:for each="{headerMenu}" as="menuItem" iteration="iterator">
                        <li class="nav-item">
                            <f:render section="link"
                                      arguments="{menuItem: menuItem}"/>
                        </li>
                    </f:for>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item search ml-3">
                        <a class="nav-link h10 text-white submenu"
                           href="#"
                           data-click="#search-field"
                           title="Search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <f:render section="search" arguments="{_all}" />

    <f:for each="{headerMenu}" as="menuItem" iteration="iterator">
        <f:if condition="{menuItem.children}">
            <f:then>
                <div class="full-view d-none w-100 h-100 position-fixed top-0 start-0 d-none" id="submenu-{menuItem.data.uid}">
                    <div class="overlay position-absolute w-100 h-100 bg-grad-{menuItem.data.gradient}-bottom opacity-90"></div>
                    <div class="d-block justify-content-center m-10">
                        <a class="close-nav position-absolute text-white end-4 top-3" data-click="#submenu-{menuItem.data.uid}">
                            <i class="fa-solid fa-xmark h3"></i>
                        </a>
                        <f:if condition="{menuItem.data.do_not_link}">
                            <f:then>
                                <span class="text-decoration-none"
                                      title="{menuItem.data.title}">
                                    <h5 class="h5 mb-1 text-white text-uppercase">
                                        <f:if condition='{menuItem.title}'>
                                            <f:then> {menuItem.title}</f:then>
                                            <f:else> {menuItem.data.title}</f:else>
                                        </f:if>
                                    </h5>
                                </span>
                            </f:then>
                            <f:else>
                                <f:link.page pageUid="{menuItem.data.uid}"
                                             class="text-decoration-none"
                                             title="{menuItem.data.title}">
                                    <h5 class="h5 mb-1 text-white text-uppercase">
                                        <f:if condition='{menuItem.title}'>
                                            <f:then> {menuItem.title}</f:then>
                                            <f:else> {menuItem.data.title}</f:else>
                                        </f:if>
                                    </h5>
                                </f:link.page>
                            </f:else>
                        </f:if>
                        <ul class="first-level d-flex gap-3 p-0 m-0">
                            <f:for each="{menuItem.children}" as="childMenuItem">
                                <li class="d-inline-block d-sm-block d-xs-block">
                                    <f:if condition="{childMenuItem.data.do_not_link}">
                                        <f:then>
                                            <span class="text-decoration-none"
                                                  title="{childMenuItem.data.title}">
                                                <h6 class="h6 text-white">
                                                        <f:if condition='{childMenuItem.title}'>
                                                            <f:then> {childMenuItem.title}</f:then>
                                                            <f:else> {childMenuItem.data.title}</f:else>
                                                        </f:if>
                                                    </h6>
                                            </span>
                                        </f:then>
                                        <f:else>
                                            <f:link.page pageUid="{childMenuItem.data.uid}"
                                                         class="text-decoration-none"
                                                         title="{childMenuItem.data.title}">
                                                <h6 class="h6 text-white">
                                                    <f:if condition='{childMenuItem.title}'>
                                                        <f:then> {childMenuItem.title}</f:then>
                                                        <f:else> {childMenuItem.data.title}</f:else>
                                                    </f:if>
                                                </h6>
                                            </f:link.page>
                                        </f:else>
                                    </f:if>

                                    <f:if condition="{childMenuItem.children}">
                                        <f:then>
                                            <ul class="second-level p-0 m-0">
                                                <f:for each="{childMenuItem.children}" as="subChildMenuItem">
                                                    <li>
                                                        <f:link.page pageUid="{subChildMenuItem.data.uid}"
                                                                     class="text-decoration-none"
                                                                     title="{subChildMenuItem.data.title}">
                                                            <h7 class="h7 text-white">
                                                                <f:if condition='{subChildMenuItem.title}'>
                                                                    <f:then> {subChildMenuItem.title}</f:then>
                                                                    <f:else> {subChildMenuItem.data.title}</f:else>
                                                                </f:if>
                                                            </h7>
                                                        </f:link.page>
                                                    </li>
                                                </f:for>
                                            </ul>
                                        </f:then>
                                    </f:if>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                </div>
            </f:then>
        </f:if>
    </f:for>
</f:section>

<f:section name="link-mobile-child-sub">
    <f:link.page pageUid="{menuItem.data.uid}"
                 class="dropdown-item h10 text-white p-half {f:if(condition:'{menuItem.hasSubpages}',then:'dropdown-toggle')}"
                 additionalAttributes="{data-click: '#navbarDropdown{menuItem.data.uid}'}"
                 title="{menuItem.data.title}">
        <f:if condition='{menuItem.title}'>
            <f:then> {menuItem.title}</f:then>
            <f:else> {menuItem.data.title}</f:else>
        </f:if>
    </f:link.page>
</f:section>

<f:section name="link-mobile-child">
    <f:link.page pageUid="{menuItem.data.uid}"
                 class="dropdown-item h10 text-white p-half {f:if(condition:'{menuItem.hasSubpages}',then:'dropdown-toggle')}"
                 title="{menuItem.data.title}"
                 id="navbarDropdown{menuItem.data.uid}"
                 additionalAttributes="{role: 'button', data-bs-toggle: 'dropdown', aria-expanded: 'false'}">
        <f:if condition='{menuItem.title}'>
            <f:then> {menuItem.title}</f:then>
            <f:else> {menuItem.data.title}</f:else>
        </f:if>
    </f:link.page>
</f:section>

<f:section name="link-mobile">
    <f:link.page pageUid="{menuItem.data.uid}"
                 class="nav-link h10 text-white p-half {f:if(condition:'{menuItem.hasSubpages}',then:'dropdown-toggle')}"
                 title="{menuItem.data.title}"
                 id="navbarDropdown{menuItem.data.uid}"
                 additionalAttributes="{role: 'button', data-bs-toggle: 'dropdown', aria-expanded: 'false'}">
        <f:if condition='{menuItem.title}'>
            <f:then> {menuItem.title}</f:then>
            <f:else> {menuItem.data.title}</f:else>
        </f:if>
    </f:link.page>
</f:section>

<f:section name="link">
    <f:link.page pageUid="{menuItem.data.uid}"
                 class="nav-link h10 text-white p-half {f:if(condition:'{menuItem.hasSubpages}',then:'submenu')} {f:if(condition:'{menuItem.active}',then:'current')} bg-hover-grad-{menuItem.data.gradient}"
                 title="{menuItem.data.title}"
                 additionalAttributes="{data-click: '#submenu-{menuItem.data.uid}'}">
        <f:if condition='{menuItem.title}'>
            <f:then> {menuItem.title}</f:then>
            <f:else> {menuItem.data.title}</f:else>
        </f:if>
    </f:link.page>
</f:section>

<f:section name="search">
    <div class="full-view d-none w-100 h-100 position-fixed top-0 start-0" id="search-field">
        <div class="overlay position-absolute w-100 h-100 bg-grad-2-bottom opacity-90"></div>
        <div class="d-flex justify-content-center m-10">
            <a class="close-nav position-absolute text-white end-4 top-3" data-click="#search-field">
                <i class="fa-solid fa-xmark h3"></i>
            </a>
            <form
                    action="{f:uri.typolink(parameter: '92')}"
                    class="tx-solr-search-form d-flex"
                    data-suggest="{f:uri.typolink(parameter: '92')}?type=7384"
                    data-suggest-header="">

                <input type="text" name="tx_solr[q]"
                       class="tx-solr-q js-solr-q tx-solr-suggest tx-solr-suggest-focus form-control me-0" placeholder="{f:translate(key: 'searchWord', extensionName: 'solr')}">
                <button class="btn text-white" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
</f:section>