{namespace twoh=TWOH\TwohKickstarter\ViewHelpers}

<ul class="nav flex-column">
    <li class="nav-item d-flex align-items-center footer-title text-uppercase ">
        <f:link.page pageUid="184" class="nav-link px-0">
            <h7 class="h7 mb-0 text-white">Kontakt</h7>
        </f:link.page>
    </li>
</ul>

<div class="footer-text d-flex flex-column">
    <h7 class="h7 mb-0 text-white">{atomSettings.companyName}</h7>
    <h7 class="h7 mb-0 text-white">{atomSettings.companyAddressStreet}</h7>
    <h7 class="h7 mb-0 text-white">{atomSettings.companyAddressZipCity}</h7>
    <a class="text-decoration-none"
       href="tel:{atomSettings.companyPhone}"
       target="_blank"
       itemprop="telefon">
        <twoh:svg svgPath="phone.svg"/>
        <h7 class="h7 mb-0 text-white">{atomSettings.companyPhone}</h7>
    </a>
    <a class="text-decoration-none"
       href="mailto:{atomSettings.companyEmail}"
       target="_blank"
       itemprop="email">
        <twoh:svg svgPath="email-info.svg"/>
        <h7 class="h7 mb-0 text-white">{atomSettings.companyEmail}</h7>
    </a>
</div>