{namespace twoh=TWOH\TwohKickstarter\ViewHelpers}

<ul class="nav flex-column mt-1">
    <li class="nav-item d-flex align-items-center footer-title text-uppercase ">
        <a href="" class="nav-link px-0">
            <h7 class="h7 mb-0 text-white">Social Media</h7>
        </a>
    </li>
</ul>

<div class="footer-social d-flex flex-column pb-1">
    <f:for each="{twoh:socialMedia()}" as="socialItem">
        <a href="{socialItem.link}"
           target="_blank"
           class="text-decoration-none social-{socialItem.title}"
           title="{socialItem.title}"
        >
            <twoh:svg svgPath="{socialItem.icon}.svg"/>
            <span class="text-white">
                {socialItem.title}
            </span>
        </a>
    </f:for>
</div>