<f:layout name="Boxed" />

<f:section name="content">

<div class="accordion-wrap {f:if(condition: flexform.remainOpen, then: 'remain-open', else: ' auto-close')}
            {f:if(condition: '{flexform.marginPos} != \'-\'', then: 'm{flexform.marginPos}{flexform.margin}', else: 'my-0')}">
    <div class="accordion" id="accordion{data.uid}">
        <f:for each="{children_101}" as="record" iteration="iterator">
            <div class="accordion-item">
                <div class="accordion-header bg-grad-3-right mb-quarter text-white" id="heading{record.uid}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapse{record.uid}" aria-controls="collapse{record.uid}">
                        <h7 class="h7 mb-0 text-white">{record.header}</h7>
                    </button>
                </div>
                <div id="collapse{record.uid}" class="accordion-collapse collapse" aria-labelledby="heading{record.uid}">
                    <div class="accordion-body disable-header">
                        <f:format.raw>
                            {record.renderedContent}
                        </f:format.raw>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</div>

</f:section>